<%= provide(:title, 'About') %>
<div class="center hero-unit">
  <h1>About the Rumsfeld Project</h1>
</div>
<p>
	The Rumsfeld project is an open source project with the goal of helping news operation track public record requests. It is named in honor of Donald Rumsfeld who, as a Congressman from Illinois, was the lead co-sponsor of the first federal Freedom of Information Act, reluctantly signed into law in 1966 by President Lyndon Johnson.
</p>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>