<%= provide(:title, "Requests") %>
<h1>Requests</h1>

<p>
	<%= link_to 'New Request', new_request_path, class: "btn btn-small btn-primary active" %>
</p>
<table width="80%" class="table table-condensed">
	<%= render @requests %>
</table>

<br />

